.CodeMirror,
.stdout {
  font-family: "Operator Mono", Menlo, Monaco, "Lucida Console", monospace; }

.sling-container {
  display: grid;
  height: 100%;
  grid-template-areas: "header" "code1" "stdout" "code2"; }
  @media (min-width: 768px) {
    .sling-container {
      grid-template-columns: 33% 33% 33%;
      grid-template-areas: "header header header" "code1   stdout   code2"; } }

.code1-editor-container {
  max-height: 100%;
  background: #FFF;
  overflow-y: scroll;
  cursor: text;
  grid-area: code1; }

.code2-editor-container {
  max-height: 100%;
  background: #FFF;
  overflow-y: scroll;
  cursor: text;
  grid-area: code2; }

.stdout-container {
  grid-area: stdout; }

.editor-header {
  grid-area: header; }

.run-btn {
  margin: 30px; }

.stdout {
  min-height: 100px;
  background: #141414;
  padding: 5px;
  margin: 0 30px; }
